.topbar {
  margin-top: 100px;
  height: 50px;
}
.sort {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}
.filterHeading {
  float: left;
  margin-top: 10px;
}
.select {
  width: 200px;
  height: 30px;
  position: relative;
}
