.wishList {
  margin-top: 100px;
}
.wishList-singleProduct {
  text-align: left;
  height: 500px;
  width: 250px;
  position: relative;
  vertical-align: top;
  overflow: hidden;
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.wishList-price {
  display: flex;
  margin-left: 10px;
}
.wishList-price-item {
  margin: 10px;
}
.wishList-mrp {
  text-decoration: line-through;
}
.wishList-cost {
  margin-left: 0;
}
.wishList-product-Image {
  height: 350px;
  width: 250px;
  margin: 5px 10px;
  cursor: pointer;
}

.wishList-longTitle {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-left: 10px;
  margin-right: 10px;
}
.movetobag {
  border: none;
  color: red;
  padding: 15px 32px;
  text-align: center;
  background: none;
  margin-left: 36px;
  font-size: 16px;
  cursor: pointer;
}
.emptyWishList {
  margin-top: 200px;
  height: 200px;
  width: 330px;
  text-align: center;
  margin: 200px auto;
}
.img-wrap {
  position: relative;
}
.deleteIcon {
  position: absolute;
  top: 4px;
  right: 4px;
  cursor: pointer;
}
